<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.homeschoolplatform.mapper.ChatMapper">

    <resultMap id="BaseResultMap" type="com.example.homeschoolplatform.entity.Chat">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="initiatorId" column="initiator_id" jdbcType="INTEGER"/>
            <result property="recipientId" column="recipient_id" jdbcType="INTEGER"/>
            <result property="initiatorOnline" column="initiator_online" jdbcType="TINYINT"/>
            <result property="recipientOnline" column="recipient_online" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,initiator_id,recipient_id,
        initiator_online,recipient_online
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from chat
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from chat
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.homeschoolplatform.entity.Chat" useGeneratedKeys="true">
        insert into chat
        ( id,initiator_id,recipient_id
        ,initiator_online,recipient_online)
        values (#{id,jdbcType=INTEGER},#{initiatorId,jdbcType=INTEGER},#{recipientId,jdbcType=INTEGER}
        ,#{initiatorOnline,jdbcType=TINYINT},#{recipientOnline,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.homeschoolplatform.entity.Chat" useGeneratedKeys="true">
        insert into chat
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="initiatorId != null">initiator_id,</if>
                <if test="recipientId != null">recipient_id,</if>
                <if test="initiatorOnline != null">initiator_online,</if>
                <if test="recipientOnline != null">recipient_online,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="initiatorId != null">#{initiatorId,jdbcType=INTEGER},</if>
                <if test="recipientId != null">#{recipientId,jdbcType=INTEGER},</if>
                <if test="initiatorOnline != null">#{initiatorOnline,jdbcType=TINYINT},</if>
                <if test="recipientOnline != null">#{recipientOnline,jdbcType=TINYINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.homeschoolplatform.entity.Chat">
        update chat
        <set>
                <if test="initiatorId != null">
                    initiator_id = #{initiatorId,jdbcType=INTEGER},
                </if>
                <if test="recipientId != null">
                    recipient_id = #{recipientId,jdbcType=INTEGER},
                </if>
                <if test="initiatorOnline != null">
                    initiator_online = #{initiatorOnline,jdbcType=TINYINT},
                </if>
                <if test="recipientOnline != null">
                    recipient_online = #{recipientOnline,jdbcType=TINYINT},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.homeschoolplatform.entity.Chat">
        update chat
        set 
            initiator_id =  #{initiatorId,jdbcType=INTEGER},
            recipient_id =  #{recipientId,jdbcType=INTEGER},
            initiator_online =  #{initiatorOnline,jdbcType=TINYINT},
            recipient_online =  #{recipientOnline,jdbcType=TINYINT}
        where   id = #{id,jdbcType=INTEGER} 
    </update>

    <select id="selectChatsByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from chat
        where initiator_id = #{userId,jdbcType=INTEGER} or recipient_id = #{userId,jdbcType=INTEGER}
    </select>

</mapper>
