<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.homeschoolplatform.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="com.example.homeschoolplatform.entity.File">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="filename" column="fileName" jdbcType="VARCHAR"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,fileName,userId,
        path
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from file
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from file
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.homeschoolplatform.entity.File" useGeneratedKeys="true">
        insert into file
        ( id,fileName,userId
        ,path)
        values (#{id,jdbcType=BIGINT},#{filename,jdbcType=VARCHAR},#{userid,jdbcType=BIGINT}
        ,#{path,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.homeschoolplatform.entity.File" useGeneratedKeys="true">
        insert into file
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="filename != null">fileName,</if>
                <if test="userid != null">userId,</if>
                <if test="path != null">path,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="filename != null">#{filename,jdbcType=VARCHAR},</if>
                <if test="userid != null">#{userid,jdbcType=BIGINT},</if>
                <if test="path != null">#{path,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.homeschoolplatform.entity.File">
        update file
        <set>
                <if test="filename != null">
                    fileName = #{filename,jdbcType=VARCHAR},
                </if>
                <if test="userid != null">
                    userId = #{userid,jdbcType=BIGINT},
                </if>
                <if test="path != null">
                    path = #{path,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.homeschoolplatform.entity.File">
        update file
        set 
            fileName =  #{filename,jdbcType=VARCHAR},
            userId =  #{userid,jdbcType=BIGINT},
            path =  #{path,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
